.choresText {
   color: orangered;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 1.3vw;
   text-decoration: i;
   font-style: italic;
}

.choresHeading {
   color: orangered;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-decoration-line: underline;
   font-size: 1.3vw;
}